* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:480px) {
    .container-header {
        font-size: 10px;
    } 
    .container-bottom{
        font-size: 13px;
    }
    .conteiner-nav{
        font-size: 12px;

    }
}
    
@media (max-width:720px) {
    
}

@media (max-width:1080px) {
    
}

@media (max-width:1200px) {
    
}

.fondo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

body{
    background-image:url(image/fondo1.jpeg);
}

.container-header {
    margin-bottom: 12px;
    text-align: center;
    text-shadow: 2px 1px 0px white,
        3px 2px 0px white;
    text-decoration: overline;
    position: relative;
    top: -10px;

}

.image {
    display: inline block;
    text-align: right;
    margin: 0;
}

.logo {
    width: 30px;
    height: 30px;
    text-align: right;
}

.menu-barra {
    display: flex;
    line-height: 30px;
    border: 3px solid black;
    background-color: azure;
    width: fit-content;
    text-shadow: 2px -2px 1.5px black;
    font-family: fantasy;
    font-weight: 100;

}

.container-quiz{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.select:hover{
    color: gold;
}

.form{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

li{
    list-style: none;
}

.linkeos {
    color: gold;
    text-decoration: none;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    list-style: none;
    border-top: 5px black solid;
    font-family: fantasy;
    text-shadow: 2px -2px 1.5px black;
    color: gold;
}

#change-color :hover {
    color: white;
}